<!-- cakeshop/cake_list.html -->
<ul class="list-unstyled">
    {% for cake in cakes %}
        <li class="mb-4">
            <div class="row">
                <div class="col-md-3">
                    {% if cake.image %}
                        <img src="{{ cake.image }}" alt="{{ cake.name }}" class="img-fluid" style="max-width: 200px;">
                    {% else %}
                        <p>Không có hình ảnh</p>
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <h2>{{ cake.name }}</h2>
                    <p>Mô tả: {{ cake.description }}</p>
                    <p>Giá: {{ cake.price }}</p>
                    <p>Danh mục: {{ cake.category_id }}</p>
                </div>
            </div>
        </li>
    {% empty %}
        <p class="text-center">Không có bánh nào trong cơ sở dữ liệu.</p>
    {% endfor %}
</ul>