{% extends 'cakeshop/layout.html' %}
{% load static %}

{% block title %}Trang Chủ - Bakery Shop{% endblock %}

{% block content %}
<section class="banner">
    <div class="container">
        <h1 class="display-4 fw-bold">BAKERY CAKE</h1><br>
        <p class="lead">Chào mừng tới trang web</p><br>
        <a href="#" class="btn btn-light btn-lg">ĐẶT NGAY</a>
    </div>
</section>
<br>
<!-- Danh sách bánh kem -->
{% comment %} <div class="row mt-4">
    {% for cake in cakes %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ cake.image.url }}" class="card-img-top" alt="{{ cake.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ cake.name }}</h5>
                <p class="card-text">Giá: {{ cake.price }}$</p>
                <a href="{% url 'cake_detail' cake.id %}" class="btn btn-primary">Xem Chi Tiết</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div> {% endcomment %}
{% endblock %}
