.banner {
    background: url('/static/images/banhkem1.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;  /* Chiều cao bằng toàn bộ màn hình */
    width: 100vw;   /* Chiều rộng bằng toàn bộ màn hình */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    filter: brightness(1.3);
    margin: 0;
    padding: 0;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Lớp phủ mờ để dễ đọc chữ */
}

.banner .container {
    position: relative;
    z-index: 2; /* Giúp chữ hiển thị phía trên */
    width: 100%;
    max-width: 1200px; /* Giới hạn chiều rộng của nội dung */
    padding: 20px;
    text-align: left;
}

.banner h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.banner p {
    font-size: 1.2rem;
    color: white;
}
